
.container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #684949;
}


.logo-container {
  float: left;
}

.logo {
  height: 200px;
  margin-right: 20px;
  border-radius: 2%;
  margin-top: 2px;
  margin-left: 2px;
}


.activity-heading {
  color: #fff;
  font-size: 27px;
}

.edit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}



.activity-log {
  margin-top: 20px;
  margin-left: 20px;
}
.activity-log ul {
  list-style-type: none;
  padding-left: 0;
  color: white;
}

.activity-log li {
  margin-bottom: 10px;
  color: white;
}
.activity-log p {
  margin-bottom: 10px;
  color: white;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus {
  outline: none;
  border-color: #4a90e2;
}
.form-group label {
  color: white;
  font-size: 20px;
}





