

.edit-button {
  background-color: #003d7e; 
  color: #fff;
  border: none; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 8px;
  
  
  
}

.edit-button:hover {
  background-color: #0068d6; 
}

.logo-container {
  float: left;
}

.logo {
  height: 200px;
  margin-right: 20px;
  border-radius: 2%;
  margin-top: 2px;
  margin-left: 2px;
}
.search-container {
  display: flex;
  align-items: center;
}



.search-form {
  display: flex;
}

.input-wrapper {
  display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 400px;
}

.input-wrapper input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1 1;
  margin-right: 10px;
  width: 400px;
}

.input-wrapper button[type="submit"] {
  background-color: black;
  color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  width: 70px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 0.5px;
  margin-left: -30px;
  transition: background-color 0.3s ease;
}




button[type="submit"] {
  background-color: blue;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 125px;
  transition: background-color 0.3s ease;
  margin-top: -17px;
}

.search-form button:hover {
  background-color: #0d8bf2;
}




.row-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.publiccard {
  width: 370px;
  height: auto;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}


.publiccard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.publiccard h2 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.publiccard p {
  margin: 5px 0;
  font-size: 16px;
  color: black;
  text-align: center;
}

.publiccard span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color:black;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.profile-initial {
  background-color: #ccc;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}


.profile-username {
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  color: white;
}

.profile-dropdown {
  position: relative;
}

.profile-dropdown-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
}

.profile-dropdown-content {
  position: absolute;
  top: auto;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  display: none;
  min-width: 120px;
  z-index: 2; 
}

.profile-dropdown:hover .profile-dropdown-content {
  display: block;
}

.profile-dropdown-content a,
.profile-dropdown-content button {
  display: block;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.profile-dropdown-content a:hover {
  background-color: #f2f2f2;
}

.category-heading {
  color: #fff;
  font-size: 40px;
}

.profile-edit-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.profile-edit-initial {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.profile-edit-username {
  margin-left: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.edit-button {
  width: 50px; 
  margin-left: 10px; 
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header h1 {
  padding: 10px;
  border-radius: 5px;
  color: rgb(49, 1, 101);
  padding-left: 20px;
  padding-right: 20px;
}

nav ul {
  display: flex;
  list-style: none;
 
}

li {
  margin-right: 20px;
}
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  
  
  
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
}

nav a:hover {
  border-bottom-color: white;
}
a {
  color: #333;
  text-decoration: none;
}

.search-bar {
  padding: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 300px;
  margin-right: 10px;
}

.search-button,
.new-post-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #0077FF;
  color: #fff;
  border: none;
  border-radius: 5px;
 
  cursor: pointer;
  
  transition: background-color 0.2s ease-in-out;
  
}
.search-button{
  position: absolute;
  margin-left: -10px;
  font-size: 20px;
  padding: 8px;
}

.new-post-button {
  font-size: 12px;
   padding: 12px;
}



.search-button:hover,
.new-post-button:hover {
  background-color: #0053BA;
}

.search-button .icon,
.new-post-button .icon {
  margin-right: 5px;
}
