.single-post {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
  }
  
  .post-header img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .post-user a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .post-stats {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .post-stats span {
    margin-right: 10px;
  }
  
  .post-stats i {
    margin-right: 5px;
    cursor: pointer;
  }
  
  .post-stats i.active {
    color: green;
  }
  
  .post-comments {
    margin-left: auto;
  }
  
  .post-body p {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .post-comment input {
    width: 80%;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  
  .post-comment button {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .post-comment button:hover {
    background-color: #aaa;
  }

 
.container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #684949;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 20px;
  
  }
  
  .logo-container {
    float: left;
  }
  
  .logo {
    height: 200px;
    margin-right: 20px;
    border-radius: 2%;
    margin-top: 2px;
    margin-left: 2px;
  }
  .search-container {
    display: flex;
    align-items: center;
  }
  
  
  
  .search-form {
    display: flex;
  }
  
  .input-wrapper {
    display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      margin-left: 20px;
      width: 400px;
  }
  
  .input-wrapper input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1 1;
    margin-right: 10px;
    width: 400px;
  }
  
  .input-wrapper button[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    width: 70px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 0.5px;
    margin-left: -30px;
    transition: background-color 0.3s ease;
  }
  
  
  
  
  button[type="submit"] {
    background-color: blue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 125px;
    transition: background-color 0.3s ease;
    margin-top: -17px;
  }
  
  .search-form button:hover {
    background-color: #0d8bf2;
  }

  .profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .profile-initial {
    background-color: #ccc;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  
  
  .profile-username {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    color: white;
  }
  
  .profile-dropdown {
    position: relative;
  }
  
  .profile-dropdown-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
  }
  
  .profile-dropdown-content {
    position: absolute;
    top: auto;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    min-width: 120px;
    z-index: 2; 
  }
  
  .profile-dropdown:hover .profile-dropdown-content {
    display: block;
  }
  
  .profile-dropdown-content a,
  .profile-dropdown-content button {
    display: block;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
  }
  
  .profile-dropdown-content a:hover {
    background-color: #f2f2f2;
  }
  
  .category-heading {
    color: #fff;
    font-size: 40px;
  }
  .single-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .post-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .post-header img {
    width: 40%;
    margin-bottom: 10px;
    height: 40%;
    object-fit: cover;
  }
  
  .post-stats {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: white;
  }
  
  .post-likes i,
  .post-dislikes i {
    font-size: 24px;
    margin-right: 5px;
  }
  
  .post-likes span,
  .post-dislikes span {
    font-size: 14px;
  }
  .post-likes .active,
.post-dislikes .active {
  color: blue;
}

  
  .post-body {
    width: 80%;
    text-align: center;
    color: white;
  }
  
  .post-footer {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  
  
  .post-comment input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
  }
  
  .post-comment button {
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 4px;
  }
  
  .post-comment button:hover {
    background-color: #2c3e50;
  }
  .comment-username {
    color: white
  }
  .comment-text{
    color: white
  }
  
  
  